:root {
    --primary-color: #f6a700;
    --secondary-color: #fed353;
    --box-color:rgba(199, 188, 165, 0.4);
    --text-color: #F4F4F4;
    --text-shadow: 1px 2px #2c292c;
    --shadow-color: #1d1001;
    --dark-theme: #2c292c;
    --button-color: #efb810;
    --button-color-active: #a87b05;
    --background-color: #F4F4F4;
    --header-color: #221d14;
    --footer-color:#7e4400;
  }