:root {
    --primary-color: #f6a700;
    --secondary-color: #fed353;
    --text-color: #F4F4F4;
    --text-shadow: 1px 2px #2c292c;
    --shadow-color: #7e4400;
    --dark-theme: #2c292c;
    --button-color: #a87b05;
    --button-color-active: #efb810;
    --background-color: #F4F4F4;
    --header-color: #b87400;
    --footer-color:#7e4400;
  }