.login-container {
    padding: 20px;
    ion-item {
      margin-bottom: 15px;
    }
    .link {
      text-align: center;
      margin-top: 10px;
      color: var(--ion-color-primary);
      cursor: pointer;
    }
  }
  