<ion-header>
  <ion-toolbar class="header-edit">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline" defaultHref="/start"></ion-back-button>
    </ion-buttons>
    <ion-title>Way2Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Registro</h2>
    <form class="main-box">
      <div class="label-box">
        <!-- Campo Nombre -->
        <div class="input-box">
          <label for="input-name">Nombre</label>
          <input [(ngModel)]="firstName" name="firstName" type="text" id="input-name" required>
        </div>

        <!-- Campo Apellido -->
        <div class="input-box">
          <label for="input-lastname">Apellido</label>
          <input [(ngModel)]="lastName" name="lastName" type="text" id="input-lastname" required>
        </div>

        <!-- Campo Correo -->
        <div class="input-box">
          <label for="input-email">Correo</label>
          <input [(ngModel)]="email" name="email" type="email" id="input-email" required>
        </div>

        <!-- Campo Contraseña -->
        <div class="input-box">
          <label for="input-password">Contraseña</label>
          <input [(ngModel)]="password" name="password" type="password" id="input-password" required>
        </div>

        <!-- Campo Confirmar Contraseña -->
        <div class="input-box">
          <label for="input-confirm-password">Confirmar Contraseña</label>
          <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" id="input-confirm-password" required>
        </div>
      </div>
      <div class="btn-box">
        <button type="submit" class="register-btn">Registrar</button>
      </div>
      <div class="login-text">
        <span>¿Ya tienes cuenta?</span>
        <a class="login-link" (click)="redirect_login()">Iniciar sesión</a>
      </div>      
    </form>
  </div>
</ion-content>