<ion-header>
  <ion-toolbar class="header-edit">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Way2Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Recuperar Contraseña</h2>
    <form class="main-box">
      <div class="input-box">
        <label for="input-email">Correo</label>
        <input [(ngModel)]="email" name="email" type="email" id="input-email" required>
      </div>
      <div class="btn-box">
        <button type="submit" class="restore-btn" >Enviar Correo de Recuperación</button>
      </div>
    </form>
  </div>
</ion-content>
