<ion-content>
  <div class="img-box">
    <img class="img" src="https://res.cloudinary.com/dcburqy6x/image/upload/v1732134035/W2H-logo_r2iq98.jpg" alt="logo-img">
  </div>
  <div class="start-container">
    <div class="text-box">
      <h2>Bienvenido a Way2Home</h2>
      <p>Organiza tus viajes de regreso a casa de manera fácil y segura.</p>
    </div>
    
    <div class="btn-box">  
      <button class ="btn" (click)="redirect_login()">Iniciar Sesión</button>
      <button class ="btn" (click)="redirect_register()">Registrarse</button>
    </div>
  </div>  
</ion-content>
