<ion-content>
  <div class="img-box">
    <img class="img" src="" alt="logo-img">
  </div>
  <div class="start-container">
    <div class="text-box">
      <h2>Bienvenido a Way2Home</h2>
      <p>Organiza tus viajes de regreso a casa de manera fácil y segura.</p>
    </div>
    
    <div class="btn-box">  
      <button class ="btn" (click)="redirect_login()">Iniciar Sesión</button>
      <button class ="btn" (click)="redirect_register()">Registrarse</button>
    </div>
  </div>  
</ion-content>
